#Virtual env
.venv/

#Python Junk
_pycache_/
*.pyc

#Jupyter
.ipynb_checkpoints/

#Data (keep large/raw data out of git)
data/*
!data/.gitkeep

#Models / Artifacts (adjust as needed)
reports/*.joblib

#OS-specific
.Ds_Store
Thumbs.db
